{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Supplier Credit</title>

    <link rel="stylesheet" href="{% static 'nyondo_app/css/nyondo/add_credit.css' %}">
</head>

<body>

<div class="container">

    <h2>Add Supplier Credit</h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Save Credit</button>

    </form>

    <a href="{% url 'credit_list' %}" class="back">← Back to Credit List</a>

</div>

</body>
</html>