{% extends "nyondo/base.html" %}
{% load static %}
{% block content %}

<div class="delete-container">

    <h2>Delete Sale</h2>

    <div class="warning-box">
        ⚠️ You are about to delete this sale permanently.
    </div>

    <div class="sale-info">
        <p><strong>Customer:</strong> {{ sale.customer_name }}</p>
        <p><strong>Product:</strong> {{ sale.product.product_name }}</p>
        <p><strong>Quantity:</strong> {{ sale.quantity }}</p>
        <p><strong>Total:</strong> {{ sale.final_total }}</p>
        <p><strong>Date:</strong> {{ sale.sale_date }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="buttons">
            <a href="{% url 'sales_list' %}" class="btn-cancel">Cancel</a>
            <button type="submit" class="btn-delete">Yes, Delete</button>
        </div>

    </form>

</div>

<link rel="stylesheet" href="{% static 'nyondo_app/css/nyondo/delete_sales.css' %}">

{% endblock %}