{% extends "nyondo/base.html" %}
{% load static %}

{% block title %}Edit Stock | Nyondo Hardware{% endblock %}

{% block content %}

<div class="form-container">

    <h2>Edit Stock</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="grid">

            <div class="field">
                <label>Product Name</label>
                {{ form.product_name }}
                {{ form.product_name.errors }}
            </div>

            <div class="field">
                <label>Category</label>
                {{ form.category }}
                {{ form.category.errors }}
            </div>

            <div class="field">
                <label>Quantity</label>
                {{ form.quantity }}
                {{ form.quantity.errors }}
            </div>

            <div class="field">
                <label>Buying Price</label>
                {{ form.buying_price }}
                {{ form.buying_price.errors }}
            </div>

            <div class="field">
                <label>Selling Price</label>
                {{ form.selling_price }}
                {{ form.selling_price.errors }}
            </div>

            <div class="field">
                <label>Supplier</label>
                {{ form.supplier_name }}
                {{ form.supplier_name.errors }}
            </div>

            <div class="field full">
                <label>Description</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="field">
                <label>Reorder Level</label>
                {{ form.reorder_level }}
                {{ form.reorder_level.errors }}
            </div>

        </div>

        <div class="buttons">
            <button type="submit" class="btn-save">Update Stock</button>
            <a href="{% url 'stock_list' %}" class="btn-back">Back</a>
        </div>

    </form>

</div>

<link rel="stylesheet" href="{% static 'nyondo_app/css/nyondo/edit_stock.css' %}">

{% endblock %}