{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print Receipt</title>

    <link rel="stylesheet" href="{% static 'nyondo_app/css/nyondo/receipt_print.css' %}">
</head>

<body>

<div class="receipt">

    <div class="center">
        <h2>NYONDO LTD</h2>
        <small>Official Receipt</small>
        <hr>
    </div>

    <p><strong>Receipt:</strong> {{ receipt.receipt_no }}</p>
    <p><strong>Customer:</strong> {{ receipt.customer_name }}</p>
    <p><strong>Phone:</strong> {{ receipt.customer_phone }}</p>
    <p><strong>Date:</strong> {{ receipt.sale_date }}</p>

    <hr>

    <table>
        <tr>
            <td>{{ receipt.product.product_name }}</td>
        </tr>
        <tr>
            <td>Qty: {{ receipt.quantity }}</td>
        </tr>
        <tr>
            <td>Unit: {{ receipt.unit_price }}</td>
        </tr>
    </table>

    <hr>

    <table>
        <tr>
            <td>Total</td>
            <td>{{ receipt.total_amount }}</td>
        </tr>
        <tr>
            <td>Transport</td>
            <td>{{ receipt.transport_charge }}</td>
        </tr>
        <tr class="total">
            <td>Final</td>
            <td>{{ receipt.final_total }}</td>
        </tr>
    </table>

    <hr>

    <p class="center">
        Status: {{ receipt.payment_status }}
    </p>

    <!-- PRINT BUTTON -->
    <a href="#" onclick="window.print()" class="btn no-print">
        Print Receipt
    </a>

</div>

</body>
</html>