body{
            font-family: Arial, sans-serif;
            background: white;
            padding: 0;
            margin: 0;
        }

        .receipt{
            width: 80mm;
            margin: auto;
            padding: 10px;
        }

        .center{
            text-align: center;
        }

        h2{
            margin: 5px 0;
        }

        hr{
            border: 1px dashed #000;
        }

        table{
            width: 100%;
            font-size: 12px;
        }

        td{
            padding: 3px 0;
        }

        .total{
            font-weight: bold;
        }

        @media print {
            .no-print {
                display: none;
            }

            body{
                margin: 0;
            }
        }

        .btn{
            display: block;
            text-align: center;
            margin: 10px 0;
            padding: 10px;
            background: black;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
